In [1]:
# Import Dependencies

import pandas as pd

In [2]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager

In [3]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=True)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 91.0.4472
[WDM] - Get LATEST driver version for 91.0.4472

[WDM] - Driver [C:\Users\zoom_\.wdm\drivers\chromedriver\win32\91.0.4472.101\chromedriver.exe] found in cache

In [4]:
#store website

url = 'https://redplanetscience.com/'
browser.visit(url)

In [5]:
# HTML object
html = browser.html

# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

# Retrieve all elements that contain mars article information
mars_results = soup.find_all('div', class_='col-md-8')

mars_title = []
mars_teaser = []

# Identify the title and teaser article in each article
for result in mars_results:
    
    # Error handling
    try:
        
        #identify and return the title
        title = result.find('div', class_='content_title').text
        #identify and return the teaser article
        teaser = result.find('div', class_='article_teaser_body').text
        mars_title.append(title)
        mars_teaser.append(teaser)
            
    except AttributeError as e:
        print("No Title Available")
        
        
browser.quit()        
print(mars_title[0])
print(mars_teaser[0])

A Year of Surprising Science From NASA's InSight Mars Mission
A batch of new papers summarizes the lander's findings above and below the surface of the Red Planet.

In [6]:
#store featured image website
new_browser = Browser('chrome', **executable_path, headless=True)

image_url = "https://spaceimages-mars.com/"
new_browser.visit(image_url)

In [7]:
# HTML object
new_html = new_browser.html

# Parse HTML with Beautiful Soup
new_soup = BeautifulSoup(new_html, 'html.parser')

# Retrieve all elements that contain header image information
image_results = new_soup.find_all('img', class_='headerimage fade-in')
image_results

#store featured URL info
featured_url = []


# Identify the featured image url
for result in image_results:
    
    # Error handling
    try:
        
        #identify and return the title
        featured_img = result['src']

        featured_url.append(featured_img)

    except AttributeError as e:
        print("No Title Available")
        
new_browser.quit()

In [8]:
#store featured image in a variable

featured_image_url = "https://spaceimages-mars.com/" + featured_url[0]
featured_image_url

'https://spaceimages-mars.com/image/featured/mars1.jpg'

In [9]:
facts_url = "https://galaxyfacts-mars.com/"

In [10]:
#Use pandas's "read_html"

tables = pd.read_html(facts_url)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [11]:
#read the table to a dataframe

facts_df = tables[0]
# facts_df.columns = ['']
facts_df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [12]:
facts_df.columns = ['','Mars','Earth']
facts_df

                                       Mars            Earth
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [13]:
new_row = pd.DataFrame({"":"Description", " ":" ", " ":" "}, index=[0])
new_row

0  Description

In [14]:
facts_df = pd.concat([new_row, facts_df[:]]).reset_index(drop = True)

In [15]:
facts_df = facts_df.fillna(" ")
facts_df

                                          Mars            Earth
0              Description
1  Mars - Earth Comparison                Mars            Earth
2                Diameter:            6,779 km        12,742 km
3                    Mass:     6.39 × 10^23 kg  5.97 × 10^24 kg
4                   Moons:                   2                1
5       Distance from Sun:      227,943,824 km   149,598,262 km
6          Length of Year:      687 Earth days      365.24 days
7             Temperature:        -87 to -5 °C      -88 to 58°C

In [16]:
facts_df = facts_df.set_index(" ")

In [17]:
facts_df

                                       Mars            Earth

               Description
   Mars - Earth Comparison             Mars            Earth
                 Diameter:         6,779 km        12,742 km
                     Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
                    Moons:                2                1
        Distance from Sun:   227,943,824 km   149,598,262 km
           Length of Year:   687 Earth days      365.24 days
              Temperature:     -87 to -5 °C      -88 to 58°C

In [18]:
hemisphere_image_urls = [
    {"title": hemi_title[0], "img_url": hemi_image_url[0]},
    {"title": hemi_title[1], "img_url": hemi_image_url[1]},
    {"title": hemi_title[2], "img_url": hemi_image_url[2]},
    {"title": hemi_title[3], "img_url": hemi_image_url[3]},
]
hemisphere_image_urls

NameError: name 'hemi_title' is not defined

In [19]:
hemisphere_image_urls = [
    {"title": "Valles Marineris Hemisphere", "img_url": "..."},
    {"title": "Cerberus Hemisphere", "img_url": "..."},
    {"title": "Schiaparelli Hemisphere", "img_url": "..."},
    {"title": "Syrtis Major Hemisphere", "img_url": "..."},
]

In [20]:
hemisphere_image_urls

[{'title': 'Valles Marineris Hemisphere', 'img_url': '...'},
 {'title': 'Cerberus Hemisphere', 'img_url': '...'},
 {'title': 'Schiaparelli Hemisphere', 'img_url': '...'},
 {'title': 'Syrtis Major Hemisphere', 'img_url': '...'}]